  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
        $("#btnPrint").live("click", function () {
            var divContents = $("#dvContainer").html();
            var printWindow = window.open('', '', 'height=400,width=800');
            printWindow.document.write('<html><head><title>Proposal ID</title>');
            printWindow.document.write('</head><body >');
            printWindow.document.write(divContents);
            printWindow.document.write('</body></html>');
            printWindow.document.close();
            printWindow.print();
        });
    </script>




<style>
@media print {
  body * {
    visibility: hidden;
  }
  #myDivToPrint, #myDivToPrint * {
    visibility: visible;
  }
  #myDivToPrint {
    position: absolute;
    left: 0;
    top: 0;
  }
}
</style>
<% include header %>


 <form id="form1">
    <div >
        This content needs to be printed.
    </div>
    
    </form>

<br>
<br>
<br>
<br>
<br>

<div id="dvContainer" style="background:blue;float:right;height:400px;width:50%;color:white">
<p>Proposal</p>  <p>Company Name:</p>  <p>  Location Name:</p>  <p>  ALL Equipment list in AMC:</p>
<table id="PreviewTable" border="1"><tr><td>Equipment Name</td><td>Serial Numbers</td><td>Total Equipment Name</td><td>Result</td></tr></table>
<p>Total</p>
</div>




<INPUT type="button" class="but" value="Add " onclick="addRow('dataTable')" />
<INPUT type="button" class="but" value="Delete " onclick="deleteRow('dataTable')" />
<TABLE id="dataTable" border="1">	

	</TABLE>

<input type="button"  value="preview" onclick="preview();" >
<input type="button" value="Print" id="btnPrint" />
<form method="post" action="/amc"  enctype="multipart/form-data" >
<input type="file" name="mypdf" accept="application/pdf" />
<input type="hidden" name="locid" value="51"  />
<input type="hidden" name="ebid" value="21"  />
<input type="submit" value="Save pdf on server" id="" />
</form>
<a class="email" title="Email a friend" href="#" onclick="javascript:window.location='mailto:xyz@abc.com?subject=Proposal For AMC&body=We think you might find this information interesting: ' + window.location;">Email</a>


<script>

function preview(){

			var table = document.getElementById('dataTable');
			var rowCount = table.rows.length;
			var ptable = document.getElementById('PreviewTable');
			for(var i=0;i<rowCount;i++){
			var row = ptable.insertRow(i-0+1);
            var cell0 = row.insertCell(0);
			cell0.innerHTML='element name';

			var cell1 = row.insertCell(1);
			cell1.innerHTML=myFunction(i);

			var cell2 = row.insertCell(2);
		    var th=table.rows[i].cells[2].children[0].value;
		    cell2.innerHTML=th;

			}


			
		    

		alert(table.rows[0].cells[1].options[0]);	
        


}

function myFunction(x) {
var str="";
for(var i=0;i<document.getElementById("dataTable").rows[x].cells[1].children[0].options.length;i++)
  if(document.getElementById("dataTable").rows[x].cells[1].children[0].options[i].selected)
  if(i!=0)
  {str=str+","+document.getElementById("dataTable").rows[x].cells[1].children[0].options[i].value;}
  else
  {str=document.getElementById("dataTable").rows[x].cells[1].children[0].options[i].value;}
 
  return str;
}


function total(th) {	
	var options = th.options, count = 0;
for (var i=0; i < options.length; i++) {
  if (options[i].selected) count++;
}
document.getElementById("t"+th.id).value=count;
}


function addRow(tableID) {

			var table = document.getElementById(tableID);

			var rowCount = table.rows.length;
			var row = table.insertRow(rowCount);

			var cell1 = row.insertCell(0);
			var element1 = document.createElement("input");
			element1.type = "checkbox";
			element1.name="chkbox";
			element1.id =(rowCount-0+1);
			element1.className="ro";
			cell1.appendChild(element1);

		    var cell2 = row.insertCell(1);	
			var select = document.createElement('select');
			select.name = "equip";
			select.id = "e"+(rowCount-0+1);
			select.multiple = "True";
			select.addEventListener("click", function(){
    total(this);
});
			
			select.className="ro";
			<% for(var i=0;i<data.length;i++) { %>
		
			option = document.createElement('option');
            option.value ='<%= data[i].serial_number %>' ;
            option.text = '<%= data[i].serial_number %>' ;
            select.appendChild(option);
			<% } %>
            cell2.appendChild(select);

			var cell4 = row.insertCell(2);
			var element4 = document.createElement("input");
			element4.type = "number";
			element4.placeholder = "Total";
			element4.name = "total";
			element4.id = "te"+(rowCount-0+1);
			element4.readOnly = "True";
			element4.className="ro";
			cell4.appendChild(element4);

			 var cell3 = row.insertCell(3);	
			var select = document.createElement('select');
			select.name = "period";
			select.id = "tep"+(rowCount-0+1);
			select.className="ro";
			<% for(var i=0;i<4;i++) { %>
		
			option = document.createElement('option');
            option.value ='weekly' ;
            option.text = 'weekly' ;
            select.appendChild(option);
			<% } %>
            cell3.appendChild(select);


		
			var cell4 = row.insertCell(4);
			var element4 = document.createElement("input");
			element4.type = "number";
			element4.placeholder = "Rate per Equipment";
			element4.required = "True";
			element4.name = "rpe";
			element4.id = "tepr"+(rowCount-0+1);
			element4.className="ro";
			cell4.appendChild(element4);
		}

		function deleteRow(tableID) {
			try {
			var table = document.getElementById(tableID);
			var rowCount = table.rows.length;

			for(var i=0; i<rowCount; i++) {
				var row = table.rows[i];
				var chkbox = row.cells[0].childNodes[0];
				if(null != chkbox && true == chkbox.checked) {
					table.deleteRow(i);
					rowCount--;
					i--;
				}


			}
			}catch(e) {
				alert(e);
			}
		}

	</SCRIPT>