<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

 <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <!--<link href="css/bootstrap.css" rel="stylesheet" type="text/css">-->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <link href="assets/css/font-awesome.min.css" type="text/css" rel="stylesheet">
        <!-- page specific plugin styles -->

        <!-- text fonts -->
        <link rel="stylesheet" href="assets/css/fonts.googleapis.com.css" />

        <!-- ace styles -->
        <link rel="stylesheet" href="assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />

        <!--[if lte IE 9]>
            <link rel="stylesheet" href="assets/css/ace-part2.min.css" class="ace-main-stylesheet" />
        <![endif]-->
        <link rel="stylesheet" href="assets/css/ace-skins.min.css" />
        <link rel="stylesheet" href="assets/css/ace-rtl.min.css" />

        <!--[if lte IE 9]>
          <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
        <![endif]-->

        <!-- inline styles related to this page -->

        <!-- ace settings handler -->
        <script src="assets/js/ace-extra.min.js"></script>

        <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

        <!--[if lte IE 8]>
        <script src="assets/js/html5shiv.min.js"></script>
        <script src="assets/js/respond.min.js"></script>
        <![endif]-->
    <link href="assets/css/style.css" rel="stylesheet" type="text/css">

    <style>
.rdiv {
float: right;
}

        .headul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #307ecc;



        }

        .mydropdown {
            float: left;
        }

        .mydropdown a, .mydropbtn {
            display: inline-block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        .mydropdown a:hover, .mydropdown:hover .mydropbtn {
            background-color: red;
        }

        li.mydropdown {
            display: inline-block;
        }

        .mydropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
             color: white;
        }

        .mydropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }

        .mydropdown-content a:hover {background-color: #f1f1f1}

        .mydropdown:hover .mydropdown-content {
            display: block;
        }
       .htext {
            /*font-family: "Times New Roman";*/
            color: white;

        }
    </style>
</head>

<body>
<div class="header">
<ul class="headul">
    <li class="mydropdown"><a href="/">Home</a></li>
    <li class="mydropdown">
        <a href="/searchcust" class="mydropbtn"><span class="htext">Customer</span></a>
        <div class="mydropdown-content">
            <a href="searchcust">Search Customer</a>
            <a href="addcust">Add New Customer</a>
            <a href="contact">Contacts</a>
        </div>
    </li>
    <li class="mydropdown">
        <a href="javascript:void(0)" class="mydropbtn">Equipment</a>
        <div class="mydropdown-content">
            <a href="searchequip">Search Equipment</a>
            <a href="addequip">Add New Equipment</a>
        </div>
    </li>
    <li class="mydropdown">
        <a href="javascript:void(0)" class="mydropbtn">Complain</a>
        <div class="mydropdown-content">
            <a href="searchcomp">Search complain</a>
            <a href="makecomp">Make New Complain</a>
            <a href="dcr">DCR</a>
        </div>
    </li>
    <li class="mydropdown">
        <a href="/service" class="mydropbtn">Service</a>
        <div class="mydropdown-content">
            <a href="gensched">Generate schedule</a>
            <a href="livelist">Live list</a>

        </div>
    </li>
    <li class="mydropdown">
        <a href="/amc" class="mydropbtn">AMC</a>
        <div class="mydropdown-content">
            <a href="renew">Renew</a>
            <a href="explist">Expiry List</a>

        </div>
    </li>
    <li class="mydropdown">
        <a href="/pay" class="mydropbtn">Paymant</a>
        <div class="mydropdown-content">
            <a href="adddetails">Add Details</a>
            <a href="searchdetails">Search Details</a>

        </div>
    </li>
</ul>
</div>


