<head>
<meta http-equiv="refres" content="30">
</head>
<% include header %>
<%= title %>


<h3>Quick Review:</h3>
<p>Number of overdue complains:<b><mark> <%= len %> </mark></b></p>
<p>Zone wise number of complains received</p>
<p>List of customer with maximum number of complains in last 3 months.</p>
<p>Equipments with maximum complains</p>
<p>.</p>
<p>.</p>

<% include footer %>
